<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Demo"
         connectionString="data source=.;initial catalog=Demo;integrated security=true;"/>
  </connectionStrings>
  <appSettings>
    <!--### SERVER CONFIG START ###-->
    <add key="XSocketServerStartport" value="4502" />
    <add key="XSocketServerOrigin" value="http://localhost:53591,http://xsockets.net" />
    <add key="XSocketServerLocation" value="127.0.0.1" />
    <!--### SERVER CONFIG END   ###-->

    <!--### POLICYSERVER CONFIG START ###-->
    <add key="UsePolicyServer" value="true" />
    <!--### POLICYSERVER CONFIG END   ###-->

    <!--### REF PATH START ###
        ###################################################
        ### REF PATH WILL BE USED IF THE SERVER DOES NOT  #
        ### FIND THE PLUGINS FOLDER IN THE SAME FOLDER    #
        ### AS THE SERVER EXECUTABLE                      #
        ###################################################-->
    <add key="RefPath" value="" />
    <!--### REF PATH END ###-->

    <!--### PLUGIN HANDLERS START ###-->
    <add key="XSocketServerPluginCatalog" value="..\..\..\..\XSockets\Plugins" />
    <!--### PLUGIN HANDLERS END   ###-->

    <!--### PLUGIN INTERCEPTORS START ###-->
    <add key="XMessageInterceptorsEnabled" value="false" />
    <add key="XErrorInterceptorsEnabled" value="false" />
    <add key="XConnectionInterceptorsEnabled" value="false" />
    <add key="XHandshakeInterceptorsEnabled" value="false" />
    <!--### PLUGIN INTERCEPTORS END   ###-->

    <!--### LOG START ###-->
    <add key="XSocketLogPath" value="XSocketServerPlugins\Log" />
    <!--### LOG END   ###-->

    <!--### DEFAULT BUFFERSIZE START ###-->
    <add key="XBufferSize" value="8192" />
    <!--### DEFAULT BUFFERSIZE END   ###-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>